######
## When values in here are changed
## Rerun 'direnv allow'
######

#### APP SPECIFICS
# ENV Vars or other app specific items.

RUST_BACKTRACE=1
PATH_add ./target/debug



#### GENERAGED BY REALM
PATH_add /Users/wess/.realm/bin

